
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-circular-progressbar/dist/styles.css';

h1, p {
  font-family: Lato;
}

.container-margin{
  margin : 0px
}

.x-close {
  position: absolute;
  opacity: 0.5;
  margin-top:5px;
}
.x-close:hover {
  opacity: 1;
}
.x-close:before, .x-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 1px;
  background-color: #333;
}
.x-close:before {
  transform: rotate(45deg);
}
.x-close:after {
  transform: rotate(-45deg);
}
